@import './components/advice';

// Primaire color
$lightCyan: hsl(193, 38%, 86%);
$neonGreen: hsl(150, 100%, 66%);
// Primaire color

// Neutre
$grayishBlue: hsl(217, 19%, 38%);
$darkGrayishBlue: hsl(217, 19%, 24%);
// Neutre

.App {
    background: $darkGrayishBlue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
